@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&family=Manrope:wght@400;500&family=Poppins:wght@300;400;500;600;700&family=Roboto:wght@700;900&display=swap');

/* common style */

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
}

.font-family-roboto {
    font-family: 'Roboto', sans-serif;
}

.font-family-inter {
    font-family: 'Inter', sans-serif;
}

.font-family-manrope {
    font-family: 'Manrope', sans-serif;
    color: #D9DBE1;
}

/* header style */

.slider {
    height: calc(100vh - 104px);
}

.slider-img {
    height: calc(100vh - 104px);
    object-fit: contain;
}

/* services section style */

.card-text-color {
    color: #848199;
}

.hot-card {
    transform: scaleY(1.1);
    border-radius: 35px;
}

/* Q&A style */

.ans-color {
    color: #7E848C;
}